.TodoItem{
    background-color: #f4acb7;
    border-radius: 20px;
    position: relative;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-left: 24px;
    box-shadow: 0px 5px 50px rgba(246, 249, 254, 0.3);
}


.TodoItem-p{
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TextItem-p--complete{
    text-decoration: line-through;
}


.material-symbols-outlined{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}

.Icon-check{
    position: absolute;
    left: 12px;
    color: #9d8189;
}

.Icon-check--active{
    color: #d8e2dc;
}

.Icon-delete{
    position: absolute;
    right: 24px;
    color: black;
}

.Icon-delete:hover{
    color: white;
}